[mariadb]
slow_query_log
slow_query_log_file=/tmp/slow-queries.log
long_query_time=5.0
optimizer_switch="rowid_filter=off"
optimizer_use_condition_selectivity=1

[client]
default-character-set = utf8mb4

[mysqld]
innodb_buffer_pool_size=1G

# Character Sets
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

